<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"
acceptLabel="Sí" rejectLabel="No" defaultFocus="reject"
acceptButtonStyleClass="p-button-danger"></p-confirmDialog>


<form #f="ngForm">
    <p-dialog header="Material" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'600px'}">
        <div class="ui-g ui-fluid" *ngIf="material">
            <div class="text-danger text-center" *ngIf="errores">Hay campos incompletos</div>

            <div class="p-fluid p-grid">
              <div class="p-field p-col">
                  <label>Código</label>
                  <input type="text" required name="codigo" pInputText [(ngModel)]="material.codigo"> 
              </div>
          </div>

          <div class="p-fluid p-grid">
            <div class="p-field p-col">
                <label>Nombre</label>
                <input type="text" required name="nombre" pInputText [(ngModel)]="material.nombre"> 
            </div>
        </div>

      

      <div class="p-fluid p-grid">
       
      <div class="p-field p-col">
        <label>Unidad de medida</label>
        <p-dropdown appendTo="body" required name="unidad" placeholder="Seleccione" [options]="unidades" [style]="{'width':'150px'}" [(ngModel)]="material.unidadMedida" optionLabel="nombre"></p-dropdown>
    </div>
    </div>


        </div>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="displayDialog = false" class="p-button-outlined"label="Cancelar"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save(f)" label="Guardar"></button>
          </div>
        </p-footer>
      </p-dialog>
</form>


<app-tabla
  [configuration]="tableConfiguration"
  (add) = "showDialogToAdd()"
  (edit) = "showDialogToEdit($event)"
  (delete) = "showDialogToDelete($event)"
>

</app-tabla>