<app-materiales-tabla [puede_agregar] = "true"
(material_seleccionado)="onRowSelect($event)"
(agregar_material)="showDialogToAdd()"
#materiales_tabla
>
</app-materiales-tabla>

<form #f="ngForm">
    <p-dialog header="Material" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'300px'}">
        <div class="ui-g ui-fluid" *ngIf="material">
            <div class="text-danger text-center" *ngIf="errores">Hay campos incompletos</div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="vin">Codigo</label>
            </div>
            <div class="ui-g-8">
              <input pInputText required name="codigo" [(ngModel)]="material.codigo" />
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="year">Nombre</label>
            </div>
            <div class="ui-g-8">
              <input pInputText required name="nombre" [(ngModel)]="material.nombre" />
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="year">Precio</label>
            </div>
            <div class="ui-g-8">
              <input pInputText required name="precio" [(ngModel)]="material.precio" pKeyFilter="num"/>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="year">Marca</label>
            </div>
            <div class="ui-g-8">
              <p-dropdown appendTo="body" required name="marca"placeholder="Seleccione" [options]="marcas" [style]="{'width':'150px'}" [(ngModel)]="material.marca"
                optionLabel="nombre"></p-dropdown>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="year">Tipo</label>
            </div>
            <div class="ui-g-8">
              <p-dropdown appendTo="body" required name="tipo" placeholder="Seleccione" [options]="tipos" [style]="{'width':'150px'}" [(ngModel)]="material.tipo" optionLabel="nombre"></p-dropdown>
            </div>
          </div>
      <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="year">Unidad</label>
            </div>
            <div class="ui-g-8">
              <p-dropdown appendTo="body" required name="unidad" placeholder="Seleccione" [options]="unidades" [style]="{'width':'150px'}" [(ngModel)]="material.unidadMedida" optionLabel="nombre"></p-dropdown>
            </div>
          </div>


        </div>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="delete()"class="ui-button-danger" label="Eliminar"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save(f)" label="Guardar"></button>
          </div>
        </p-footer>
      </p-dialog>
</form>
