<p-table [globalFilterFields]="['tipo.nombre','nombre','codigo']" #tt [columns]="selectedColumns" [value]="cotizaciones"
  selectionMode="single"  (onRowSelect)="onRowSelect($event)" [paginator]="true"
  [rows]="7" [rowsPerPageOptions]="[10,20,30]" [lazy]="true" (onLazyLoad)="loadLazy($event)" [totalRecords]="totalRecords">
  <ng-template pTemplate="caption">
    <div style="text-align:left" *ngIf="puede_agregar">
      <button type="button" pButton icon="fa fa-plus" (click)="agregar.emit(true)" label="Nuevo"></button>
    </div>
    <br>
    <input type="text" pInputText size="50" placeholder="Filtrar" (input)="tt.filterGlobal($event.target.value, 'contains')"
      style="width:auto">

  </ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
        <col *ngFor="let col of columns" [style.width]="col.width">
    </colgroup>
</ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}

      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        <div [ngSwitch]="col.header">
          <div *ngSwitchCase="'Cliente'">{{rowData[col.field].nombre}}</div>
          <div *ngSwitchCase="'Opciones'">
            <button pButton icon="mdi mdi-lead-pencil" (click)="selectedCotizacion(rowData)"></button>
            <button pButton icon="mdi mdi-download" class="ml-3" (click)="selectedCotizacion(rowData)"></button>
          </div>

          <div *ngSwitchDefault>{{rowData[col.field]}}</div>
        </div>
      </td>

    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div style="text-align:left">
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columnas seleccionadas"
            [style]="{minWidth: '200px'}" defaultLabel="Seleccionar columnas"></p-multiSelect>
        </div>
  </ng-template>
</p-table>
