<div>
  <div class="row">
    <div class="cell">
      <div class="form-group">
        <label>Ubicación</label>
        <select (change)="actualizarEquipos()" [(ngModel)]="ubicacionSeleccionada">
          <option *ngFor="let ubicacion of ubicaciones" [ngValue]="ubicacion">
            {{ubicacion.nombre}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Equipo</label>
        <select [(ngModel)]="equipoUbicacionSeleccionado" (change)="filtrarMaterialEquipo()">
          <option *ngFor="let equipo of equipos_ubicacion" [ngValue]="equipo">
            {{equipo.equipo.nombre}}
          </option>
        </select>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="cell">
      <div class="form-group">
        <span id="toggle" *ngIf="!editaEquipo" [ngClass]=" (mostrar ? 'mif-minus mif-lg fg-blue ml-5 c-pointer' : 'mif-plus mif-lg fg-blue ml-5 c-pointer')"
          (click)="mostrarF()"></span>
      </div>
    </div>
  </div>
  <div *ngIf="mostrar" class="border-bottom border-size-5 bd-cyan p-2"  >
    <div class="row">
      <div class="cell">
        <div id="ocultarMateriales" class="border bd-cyan">
          <div class="m-10">
            <input type="text" placeholder="Buscar Material" (keyup)="actualizar()" [(ngModel)]="txtBuscar" data-role="search" />
            <table class="table compact row-border row-hover">
              <thead>
                <tr>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Precio
                  </th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let material of materiales | paginate: { itemsPerPage: 5, currentPage: p }" class="c-pointer"
                  (click)="obtenerMaterial(material)">
                  <td>
                    {{material.nombre}}
                  </td>
                  <td>
                    {{material.precio}}
                  </td>
                  
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>

        </div>
      </div>
    </div>
    
    
  </div>
  <div class="row">
    <div class="cell">
      Material: {{materialElegido.nombre}}
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <div class="inline-form">
        <label>Cantidad:</label>
      <input type="text"  [(ngModel)]="txtCantidad">
      <button class="button primary mt-3" (click)="agregarMaterial()">Agregar</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <table class="table compact">
        <thead>
          <tr>
            <th>
              Código
            </th>
            <th>
              Material
            </th>
            <th>
              Cantidad
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of equipo_ubicacion_material_filtrado">
            <td>
              {{material.codigo}}
            </td>
            <td>
              {{material.material.nombre}}
            </td>
            <td>
              <input type="text" [(ngModel)]="material.cantidad" style="width:70px;"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>