total {{totalGeneral}}
<div class="mt-5"></div>
<div class="row">
  <div class="cell">
    <form class="inline-form">
      <input type="text" [(ngModel)]="ubicacion" name="ubicacion">
      <button class="button" (click)="agregarUbicacion()">Agregar</button>
    </form>
  </div>
</div>
<div class="mt-10"></div>
<div data-role="accordion" data-one-frame="false"  data-show-active="false" data-active-heading-class="bg-cyan fg-white">
  <div class="frame" *ngFor="let ubicacion of ubicaciones">
    <div class="heading">
      <div class="row">
        <div class="cell">
          {{ubicacion.nombre}}
        </div>
        <div class="cell text-right">
          {{ubicacion.total | currency}}
        </div>
      </div>
    </div>
    <div class="content" style="display:none">
      <div class="row border bd-cyan">
        <div class="cell-4 p-5">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="ubicacion.nombre">
          </div>
        </div>
        <div class="cell-4 p-5">
          <div class="form-group">
            <label>Total por ubicación</label>
            <input disabled type="text" value="{{ubicacion.total | currency}}">
          </div>
        </div>
      </div>
      <app-equipo-child [ubicacion]="ubicacion" [ubicaciones]="ubicaciones" (notificar)="onNotificacion()"></app-equipo-child>
    </div>
  </div>
  
</div>
