<div class="row m-5">
  <div class="cell-1">
    <div class="inline-form">
      <input type="text" [(ngModel)]="ubicacion" /><button class="button" (click)="agregarUbicacion()">Agregar</button>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="cell-sm-12 cell-lg-6">
    <table class="table striped compact table-border">
      <tr *ngFor="let ubicacion of ubicaciones">
        <td>
          <div [hidden]="ubicacion.isEditable">
            {{ubicacion.nombre}}
          </div>
          <div class="input-control big-input" [hidden]="!ubicacion.isEditable">
            <input type="text" [(ngModel)]="ubicacion.nombre" />
          </div>
        </td>
        <td>
          <div [hidden]="ubicacion.isEditable">
            <span class="mif-pencil fg-green" (click)="editar(ubicacion.codigo)"></span>
            <span class="mif-bin fg-red ml-5" (click)="eliminar()"></span>
          </div>
          <div [hidden]="!ubicacion.isEditable">
            <span class="mif-floppy-disk fg-blue " (click)="guardar(ubicacion.codigo)"></span>
            <span class="mif-cancel fg-black  ml-5" (click)="cancelar()"></span>
          </div>
        </td>

      </tr>
    </table>
  </div>
</div>
