
<app-equipos-tabla
#equipos_tabla (equipo_seleccionado)="onRowSelect($event)"
(agregar)="showDialogToAdd()"
[puede_agregar] = 'true'>
</app-equipos-tabla>

<p-dialog header="Equipo" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
  <div class="ui-g ui-fluid" *ngIf="equipo">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="vin">Codigo</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="vin" [(ngModel)]="equipo.equipo_codigo" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Nombre</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="equipo.equipo_nombre" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Precio</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="equipo.equipo_precio" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Capacidad</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="equipo.capacidad" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Marca</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown appendTo="body" [options]="marcas" [style]="{'width':'150px'}" [(ngModel)]="equipo.marca"
          optionLabel="marca_nombre"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Tipo</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown appendTo="body" [options]="tipos" [style]="{'width':'150px'}" [(ngModel)]="equipo.tipo" optionLabel="tipo_nombre"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Voltaje</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown appendTo="body" [options]="voltajes" [style]="{'width':'150px'}" [(ngModel)]="equipo.voltaje"
          optionLabel="name"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Tipo</label>
      </div>
      <div class="ui-g-8">
        <p-checkbox binary="true" label="Activo" [(ngModel)]="equipo.equipo_activo"></p-checkbox>
      </div>
    </div>


  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
