
<app-tipos-tabla
#tipos_tabla (tipo_seleccionado)="onRowSelect($event)"
(agregar)="showDialogToAdd()"
[puede_agregar] = 'true'>
</app-tipos-tabla>

<p-dialog header="Tipo" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
  <div class="ui-g ui-fluid" *ngIf="tipo">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Tipo</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="tipo.nombre" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="delete(tipo.id)" class="ui-button-danger" label="Eliminar"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>
