
<app-clientes-tabla
#clientes_tabla (cliente_seleccionado)="onRowSelect($event)"
(agregar)="showDialogToAdd()"
[puede_agregar] = 'true'>
</app-clientes-tabla>

<p-dialog header="Cliente" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
  <div class="ui-g ui-fluid" *ngIf="cliente">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Nombre</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="cliente.nombre" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Dirección</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="cliente.direccion" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Teléfono</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="cliente.telefono" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Eliminar"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>
