<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">
  Agregar
</button>

<p-table [value]="costos">
  <ng-template pTemplate="header">
      <tr>
          <th>Descripción</th>
          <th>Costo</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Acción</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-costo>
      <tr>
          <td>{{costo.detalle}}</td>
          <td>{{costo.costo}}</td>
          <td>{{costo.cantidad}}</td>
          <td>{{costo.total}}</td>
          <td>
            <button (click)="eliminar(costo.id)">Eliminar</button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td>Total mano de obra</td>
      <td></td>
      <td></td>
      <td>{{sumarCostos()}}</td>
      <td></td>
    </tr>
  </ng-template>
</p-table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="form-group">
          <label class="form-label">Concepto</label><br>
          <p-dropdown required [showClear]="true" placeholder="Seleccione"
          [(ngModel)]="costoSeleccionado"
          [options]="costosIndividual" optionLabel="detalle" [style]="{'width':'300px'}"></p-dropdown>
        </div>
        <div class="form-group">
          <label>Cantidad</label>
          <input type="number" required [(ngModel)]="cantidad" min="1" #name="ngModel" class="form-control" style="width: 300px;"/>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
            {{name.errors | json}}
                    <div *ngIf="name.errors.required">
                      Cantidad es requerida
                    </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="agregar()">Guardar</button>
      </div>
    </div>
  </div>
</div>