<div class="row">
  <div class="col">
    <button class="btn btn-primary m-2" (click)="f(true)">Agregar Equipo</button>
  </div>
</div>
<div class="row">
  <div class="col-10 offset-1">
    <p-accordion>
      <p-accordionTab *ngFor="let equipo of area.equipos">
        <p-header>

          <div class="p-grid">
            <div class="p-text-nowrap p-col">
              {{equipo.equipo.nombre}}
            </div>
            <div class="p-text-nowrap p-col">
              {{equipo.equipo.capacidad}} BTU
            </div>
            <div class="p-text-nowrap p-col">
              <strong>P </strong>{{equipo.precioTotalPersonalizado | currency}}
            </div>
            <div class="p-text-nowrap p-col">
              <strong>CT </strong>{{equipo.costoBTU | currency }}
            </div>
          </div>
          
        </p-header>
        <div class="row">
          <div class="col-4">
            <span style="float: left;font-size: 20px" class="pointer"><i class="mdi mdi-arrange-bring-forward" data-toggle="tooltip"
                data-placement="top" data-original-title="duplicar" (click)="confirmDuplicar(equipo)"></i></span>

                <span style="float: left; margin-left: 3px; font-size: 20px" class="pointer text-danger"><i class="mdi mdi-delete" data-toggle="tooltip"
                  data-placement="top" data-original-title="eliminar" (click)="confirmEliminar(equipo)"></i></span>
          </div>
          <div class="col-4">
            <div class="form-inline">
              <label style="margin-right: 2px">Costo TON:</label>
              <input type="text" disabled class="form-control" value="{{equipo.costoBTU | currency}}" (keyup)="actualizar_total_personalizado(equipo)">
            </div>
          </div>
          <div class="col-4">
            <div class="form-inline">
              <label style="margin-right: 2px">Total personalizado:</label>
              <input type="text" class="form-control" [(ngModel)]="equipo.precioTotalPersonalizado" (keyup)="actualizar_total_personalizado(equipo)">
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Área</label>
              <select class="form-control" [(ngModel)]="areaSeleccionada" (change)="moverEquipo(equipo)">
                <option *ngFor="let area of  areas" [ngValue]="area">
                  {{area.nombre}}
                </option>

              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Precio</label>
              <input class="form-control" disabled type="text" value="{{equipo.precioEquipo | currency}}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Porc. Ganancia</label><br>
              <p-spinner (onChange)="actualizarPorcentajeGanancia(equipo)" (keyup)="actualizarPorcentajeGanancia(equipo)"
                size="15" [(ngModel)]="equipo.porcentajeGanancia" [step]="0.25"></p-spinner>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Precio final</label>
              <input class="form-control" disabled type="text" value="{{equipo.precioEquipo * equipo.porcentajeGanancia | currency}}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Total equipo + materiales</label>
              <input class="form-control" disabled type="text" value="{{equipo.total | currency}}">
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary m-2" (click)="f(false,equipo)">Agregar Material</button>

          </div>
          <div class="col">
            <div class="form-group">
              <label>Total materiales</label>
              <input class="form-control" type="text" disabled value="{{ totalMateriales(equipo) | currency}}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Total Personalizado</label>
              <input class="form-control" type="text" id="total_personalizado" (keyup)="actualizar_total_personalizado(equipo)"
                name="total_personalizado" [(ngModel)]="equipo.precio_materiales_equipo">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Porc. Ganancia</th>
                  <th>Cantidad</th>
                  <th>Total</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let material of equipo.materiales">
                  <td>{{material.material.codigo}}</td>
                  <td>{{material.material.nombre}}</td>
                  <td>{{material.material.precio}}</td>
                  <td>
                    <p-spinner (onChange)="actualizarTotalAsyncMaterial(material,equipo)" (keyup)="actualizarTotalAsyncMaterial(material,equipo)"
                      size="10" [(ngModel)]="material.porcentajeGanancia" [step]="0.25">
                    </p-spinner>
                  </td>
                  <td>
                    <p-spinner (onChange)="actualizarTotalAsyncMaterial(material,equipo)" (keyup)="actualizarTotalAsyncMaterial(material,equipo)"
                      size="10" [(ngModel)]="material.cantidad" [step]="1" min="1"></p-spinner>
                  </td>
                  <td>{{material.precio * material.cantidad * material.porcentajeGanancia | currency}}</td>
                 <td>
                  <span style="float: left; margin-left: 3px; font-size: 20px" class="pointer text-danger"><i class="mdi mdi-delete" data-toggle="tooltip"
                    data-placement="top" data-original-title="eliminar" (click)="confirmEliminar(equipo)"></i></span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>
                    Total
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{ totalMateriales(equipo) | currency}}</td>
                  <td></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>

  </div>
</div>
