
<app-marcas-tabla
#marcas_tabla (marca_seleccionada)="onRowSelect($event)"
(agregar)="showDialogToAdd()"
[puede_agregar] = 'true'>
</app-marcas-tabla>

<p-dialog header="Marca" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
  <div class="ui-g ui-fluid" *ngIf="marca">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Marca</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="marca.marca_nombre" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Eliminar"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>
