
<p-table [globalFilterFields]="['gas_nombre']" #tt [columns]="selectedColumns" [value]="gases"
  selectionMode="single"  (onRowSelect)="onRowSelect($event)" [paginator]="true"
  [rows]="7" [rowsPerPageOptions]="[10,20,30]" [totalRecords]="totalRecords">
  <ng-template pTemplate="caption">
    <div style="text-align:left" *ngIf="puede_agregar">
      <button type="button" pButton icon="fa fa-plus" (click)="agregar.emit(true)" label="Agregar"></button>
    </div>
    <br>
    <input type="text" pInputText size="50" placeholder="Filtrar" (input)="tt.filterGlobal($event.target.value, 'contains')"
      style="width:auto">

  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}

      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td>{{rowData.gas_nombre}}</td>

    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div style="text-align:left">
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columnas seleccionadas"
            [style]="{minWidth: '200px'}" defaultLabel="Seleccionar columnas"></p-multiSelect>
        </div>
  </ng-template>
</p-table>
