<div>
  <div class="row">
    <div class="cell">
      <div class="form-group">
        <label>Ubicación</label>
        <select (change)="actualizarEquipos()" [(ngModel)]="ubicacionSeleccionada">
          <option *ngFor="let ubicacion of ubicaciones" [ngValue]="ubicacion">
            {{ubicacion.nombre}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Equipo</label>
        <select>
          <option *ngFor="let equipo of equipos_ubicacion">
            {{equipo.nombre}}
          </option>
        </select>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="cell">
      <table class="table compact">
        <thead>
          <tr>
            <th>
              Código
            </th>
            <th>
              Material
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of materiales">
            <td>
              {{material.codigo}}
            </td>
            <td>
              {{material.nombre}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
