<div class="container-fluid">
  <ul data-role="tabs" data-expand="fs">
    <li><a href="#ubicacion">Ubicación</a></li>
    <li><a href="#equipo">Equipos</a></li>
    <li><a href="#material">Materiales</a></li>
  </ul>
  <div id="ubicacion">
    <app-ubicacion-child [ubicaciones]="ubicaciones"></app-ubicacion-child>
  </div>
  <div id="equipo">
    <app-equipo-child [ubicaciones]="ubicaciones" [equipos]="equipos" [equiposUbicacion]="equipo_ubicacion"></app-equipo-child>
  </div>
  <div id="material">
    <app-material-child [ubicaciones]="ubicaciones" [equipo_ubicacion]="equipo_ubicacion"></app-material-child>
  </div>
</div>


<div data-role="accordion" data-one-frame="false"  data-show-active="false" data-active-heading-class="bg-cyan fg-white">
  <div class="frame" *ngFor="let i of [1,2,3]">
    <div class="heading">Ubicación {{i}}</div>
    <div class="content">
      <div class="row border bd-cyan">
        <div class="cell-4 p-5">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" value="Ubicación 1">
          </div>
        </div>
        <div class="cell-4 p-5">
          <div class="form-group">
            <label>Total por ubicación</label>
            <input disabled type="text" value="$120.58">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <button class="button primary m-2 small">Agregar Equipo</button>
        </div>
      </div>
      <div class="row">
        <div class="cell-10 offset-1">
          <div data-role="accordion" data-one-frame="false" data-show-active="false" data-active-heading-class="bg-pink fg-white">
            <div class="frame active" *ngFor="let i of [1,2,3]">
              <div class="heading">Equipo {{i}}</div>
              <div class="content">
                <div class="row">
                  <div class="cell">
                    <div class="form-group">
                      <label>Ubicación</label>
                      <select>
                        <option>
                          ubicación 1
                        </option>
                        <option>
                          ubicación 2
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="cell">
                    <div class="form-group">
                      <label>Precio</label>
                      <input disabled type="text" value="$1200">
                    </div>
                  </div>
                  <div class="cell">
                    <div class="form-group">
                      <label>Total equipo + materiales</label>
                      <input disabled type="text" value="$1324">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="cell">
                    <button class="button primary m-2 small">Agregar Material</button>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <table class="table compact striped">
                      <thead>
                        <tr>
                          <th>código</th>
                          <th>nombre</th>
                          <th>precio</th>
                          <th>cantidad</th>
                          <th>total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>U123</td>
                          <td>material 1</td>
                          <td>12.4</td>
                          <td>10</td>
                          <td>124</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>