total {{totalGeneral}}
<div class="mt-5"></div>
<div class="row">
  <div class="cell">
    <form class="inline-form">
      <input type="text" name="area" [(ngModel)] ="area.nombre">
      <button class="button" (click)="agregarArea()">Agregar Área</button>
    </form>
  </div>
</div>


<p-scrollPanel [style]="{width: '100%', height: '500px'}">
  <p-accordion [multiple]="true">
    <p-accordionTab  *ngFor="let area of areas">
      <p-header>
          {{area.nombre}} {{area.total | currency}}

      </p-header>
        <div class="row">
          <div class="col">
              <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" (keyup)="actualizarArea(area)" [(ngModel)]="area.nombre">
                </div>
          </div>
        </div>
        <app-equipo-child [area]="area" (mostrar_dialogo_equipos)="mostrar_dialogo_equipos = $event"
        (mostrar_dialogo_materiales)="mostrar_dialogo_materiales = $event"
        [areas]="areas" (notificar)="onNotificacion()">

        </app-equipo-child>
    </p-accordionTab>
</p-accordion>
</p-scrollPanel>




<!--equipos-->
<p-dialog header="Equipos" [(visible)]="mostrar_dialogo_equipos">
  <app-equipos-tabla (equipo_seleccionado)="agregarEquipo($event)"></app-equipos-tabla>
</p-dialog>

<!--materiales-->
<p-dialog header="Materiales" [(visible)]="mostrar_dialogo_materiales">
  <app-materiales-tabla (material_seleccionado)="agregarMaterial($event.data)"></app-materiales-tabla>
</p-dialog>

