<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<h4>Total General<span class="badge badge-secondary">{{totalGeneral | currency}}</span></h4>
<div class="mt-5"></div>
<div class="row">
  <div class="col-7">
    <form class="form-inline">
      <input class="form-control mr-2" type="text" #area name="area">
      <button class="btn btn-primary" (click)="agregarArea(area.value)">Agregar Área</button>
    </form>
  </div>
</div>
<br>
<br>

<p-scrollPanel [style]="{width: '100%', height: '500px'}">
  <div id="accordian-4">
    <div class="card m-t-30">
      <ng-template ngFor let-area [ngForOf]="areas" let-i="index">
        <a class="card-header link" data-toggle="collapse" data-parent="#accordian-4" href="#c_{{area.area_id}}"
          aria-expanded="true">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          <span>{{area.nombre}}</span>
        </a>
        <div id="c_{{area.area_id}}" class="collapse  multi-collapse">
          <div class="card-body widget-content">

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Nombre</label>
                  <input class="form-control" type="text" (keyup)="actualizarArea(area)" [(ngModel)]="area.nombre">
                </div>
              </div>
            </div>
            <!-- aquí se muestran los equipos por área -->
            <app-equipo-child [area]="area" [areas]="areas" (notificar)="onNotificacion()"
              (mostrar_dialogo_equipos)="mostrarDialogoEquipo($event)"
              (mostrar_dialogo_materiales)="mostrarDialogoMateriales($event)">
            </app-equipo-child>

          </div>
        </div>
      </ng-template>

    </div>
  </div>
</p-scrollPanel>

<!--equipos-->
<p-dialog header="Equipos" [(visible)]="mostrar_dialogo_equipos">
  <app-equipos-tabla (equipo_seleccionado)="agregarEquipo($event)"></app-equipos-tabla>
</p-dialog>

<!--materiales-->
<p-dialog header="Materiales" [(visible)]="mostrar_dialogo_materiales">
  <app-materiales-tabla (material_seleccionado)="agregarMaterial($event.data)"></app-materiales-tabla>
</p-dialog>
