<button
  pButton
  type="button"
  label="Agregar mano de obra"
  (click)="display = true"
></button>
<div class="mt-5"></div>

<p-table
  [value]="manodeobra"
  [scrollable]="true"
  scrollHeight="400px"
  
  [virtualRowHeight]="34"
  styleClass="p-datatable-striped p-datatable-sm"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Opción</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-manodeobra>
    <tr>
      <td>{{ manodeobra.codigo }}</td>
      <td>{{ manodeobra.descripcion }}</td>
      <td>{{ manodeobra.precio | currency: "USD" }}</td>
      
      <td>
        <button
        class="p-button-rounded p-button-danger p-ripple p-button p-component p-button-icon-only ml-1"
        type="button"
        pTooltip="Eliminar"
        tooltipPosition="top"
        (click)="delete(manodeobra.id)"
      >
        <span class="p-button-icon pi pi-trash"></span
        ><span class="p-button-label"></span>
      </button>
      </td>
      
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div>
      Total en mano de obra : {{ sumarPrecioManoDeObra(manodeobra) | currency: "USD" }}
    </div>
  </ng-template>
</p-table>

<p-dialog
  header="Seleccionar mano de obra"
  [(visible)]="display"
  [style]="{ width: '90vw' }"
>
  <app-mano-de-obra></app-mano-de-obra>
</p-dialog>
