<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"
acceptLabel="Sí" rejectLabel="No" defaultFocus="reject"
acceptButtonStyleClass="p-button-danger"></p-confirmDialog>


<form #f="ngForm">
  <p-dialog header="Agregar equipo" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'600px'}">
    <div *ngIf="equipo">
      <div class="text-danger text-center" *ngIf="invalid">Hay campos incompletos</div>

      <div class="p-fluid p-grid">
        <div class="p-field p-col">
            <label>Código</label>
            <input type="text" name="codigo" pInputText [(ngModel)]="equipo.codigo"> 
        </div>
        <div class="p-field p-col">
            <label>Nombre de equipo</label>
            <input type="text" name="nombre" pInputText [(ngModel)]="equipo.nombre"> 
        </div>
    </div>

    <div class="p-fluid p-grid">
      <div class="p-field p-col">
        <label>Precio</label>
         <div class="p-inputgroup">
          <span class="p-inputgroup-addon">$</span> 
          <input type="text" name="precio" pInputText [(ngModel)]="equipo.precio" pKeyFilter="num"> 
         </div>
      </div>
      <div class="p-field p-col">
          <label>Capacidad</label>
         <div class="p-inputgroup">
          <input type="text" name="capacidad" pInputText [(ngModel)]="equipo.capacidad" pKeyFilter="pint"> 
          <span class="p-inputgroup-addon">BTU</span> 
         </div>
      </div>
  </div>


  <div class="p-fluid p-grid">
    <div class="p-field p-col">
        <label>Marca</label>
        <p-dropdown appendTo="body" name="marca" [required]="true" [options]="marcas" [style]="{'width':'100%'}" [(ngModel)]="equipo.marca"
        [showClear]="true" placeholder="Seleccione"
          optionLabel="nombre"></p-dropdown>
    </div>
    <div class="p-field p-col">
        <label>Tipo</label>
        <p-dropdown appendTo="body" required  name ="tipo" [options]="tipos" [style]="{'width':'100%'}" [(ngModel)]="equipo.tipo"
        [showClear]="true" placeholder="Seleccione"
        optionLabel="nombre"></p-dropdown>
    </div>
</div>


<div class="p-fluid p-grid">
  <div class="p-field p-col">
      <label>Voltaje</label>
      <p-dropdown appendTo="body"  required name="voltaje" placeholder="Seleccione" [showClear]="true"
          [options]="voltajes" [style]="{'width':'100%'}" [(ngModel)]="equipo.voltaje"
            optionLabel="nombre"></p-dropdown>
  </div>
  <div class="p-field p-col">
      <label>Gas</label>
      <p-dropdown appendTo="body" required name="gas" placeholder="Seleccione" [showClear]="true"
           [options]="gases" [style]="{'width':'100%'}" [(ngModel)]="equipo.gas"
            optionLabel="nombre"></p-dropdown>
  </div>
</div>

<div class="p-fluid p-grid">
  <div class="p-field p-col">
      <label>Tecnología</label>
      <p-dropdown appendTo="body" required name="tecnologia" placeholder="Seleccione" [showClear]="true"
          [options]="tecnologias" [style]="{'width':'100%'}" [(ngModel)]="equipo.tecnologia"
            optionLabel="nombre"></p-dropdown>
  </div>
 
</div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="cancelar()" class="p-button-outlined"  label="Cancelar"></button>
        <button type="button" pButton icon="fa fa-check" (click)="save(f)" label="Guardar"></button>
      </div>
    </p-footer>

</p-dialog>
</form>


<app-tabla
  [configuration]="tableConfiguration"
  (add) = "showDialogToAdd()"
  (edit) = "showDialogToEdit($event)"
  (delete) = "showDialogToDelete($event)"
  #tabla
>

</app-tabla>