total {{totalGeneral}}
<div class="mt-5"></div>
<div class="row">
  <div class="cell">
    <form class="inline-form">
      <input type="text" #area name="area">
      <button class="button" (click)="agregarArea(area.value)">Agregar</button>
    </form>
  </div>
</div>
<div class="mt-10"></div>
<div data-role="accordion" data-one-frame="false"  data-show-active="false" data-active-heading-class="bg-cyan fg-white">
  <div class="frame" *ngFor="let area of areas">
    <div class="heading">
      <div class="row">
        <div class="cell">
          {{area.nombre}}
        </div>
        <div class="cell text-right">
          {{area.total | currency}}
        </div>
      </div>
    </div>
    <div class="content" style="display:none">
      <div class="row border bd-cyan">
        <div class="cell-4 p-5">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="area.nombre">
          </div>
        </div>
        <div class="cell-4 p-5">
          <div class="form-group">
            <label>Total por ubicación</label>
            <input disabled type="text" value="{{area.total | currency}}">
          </div>
        </div>
      </div>
      <app-equipo-child [area]="area" [areas]="areas" (notificar)="onNotificacion()"></app-equipo-child>
    </div>
  </div>
  
</div>

<div class="dialog" data-role="dialog" id="equipos_dialog" data-width="1000">
  <div class="dialog-title">Equipos</div>
  <div class="dialog-content">
    <div class="row">
      <div class="cell">
        <input type="text" placeholder="buscar">
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <table class="table compact striped row-hover">
          <thead>
            <th>codigo</th>
            <th>nombre</th>
            <th>precio</th>
            <th>capacidad</th>

          </thead>
          <tbody>
            <tr *ngFor="let equipo of equipos_lista" (click)="agregarEquipo(equipo)" class="pointer">
              <td>{{equipo.codigo}}</td>
              <td>{{equipo.nombre}}</td>
              <td>{{equipo.precio | currency}}</td>
              <td>{{equipo.capacidad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="dialog-actions">
    <button class="button js-dialog-close">Cerrar</button>

  </div>
</div>

<div class="dialog" data-role="dialog" id="materiales_dialog" data-width="1000">
  <div class="dialog-title">Materiales</div>
  <div class="dialog-content">
    <div class="row">
      <div class="cell">
        <input type="text" placeholder="buscar">
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <table class="table compact striped row-hover">
          <thead>
            <th>codigo</th>
            <th>nombre</th>
            <th>precio</th>
            <th>cantidad</th>

          </thead>
          <tbody>
            <tr *ngFor="let material of materiales_lista" (click)="agregarMaterial(material)" class="pointer">
              <td>{{material.codigo}}</td>
              <td>{{material.nombre}}</td>
              <td>{{material.precio | currency}}</td>
              <td>{{material.cantidad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="dialog-actions">
    <button class="button js-dialog-close">Cerrar</button>

  </div>
</div>