total {{totalGeneral}}
<div class="mt-5"></div>
<div class="row">
  <div class="cell">
    <form class="inline-form">
      <input type="text" #area name="area">
      <button class="button" (click)="agregarArea(area.value)">Agregar</button>
    </form>
  </div>
</div>
<div class="mt-10"></div>
<div data-role="accordion" data-one-frame="false"  data-show-active="false" data-active-heading-class="bg-cyan fg-white">
  <div class="frame" *ngFor="let area of areas">
    <div class="heading">
      <div class="row">
        <div class="cell">
          {{area.nombre}}
        </div>
        <div class="cell text-right">
          {{area.total | currency}}
        </div>
      </div>
    </div>
    <div class="content" style="display:none">
      <div class="row border bd-cyan">
        <div class="cell-4 p-5">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="area.nombre">
          </div>
        </div>
        <div class="cell-4 p-5">
          <div class="form-group">
            <label>Total por ubicación</label>
            <input disabled type="text" value="{{area.total | currency}}">
          </div>
        </div>
      </div>
      <app-equipo-child [area]="area" [areas]="areas" (notificar)="onNotificacion()"></app-equipo-child>
    </div>
  </div>

</div>

<div class="dialog" data-role="dialog" id="equipos_dialog" data-width="1000">
  <div class="dialog-title">Equipos</div>
  <div class="dialog-content">
      <p-table [globalFilterFields]="['tipo.nombre','nombre','codigo']" #tt [columns]="selectedColumns" [value]="equipos"
      selectionMode="single" [(selection)]="equipoSeleccionado" (onRowSelect)="onRowSelect($event)" [paginator]="true"
      [rows]="15" [rowsPerPageOptions]="[10,20,30]" [lazy]="true" (onLazyLoad)="loadLazy($event)" [totalRecords]="totalRecords">
      <ng-template pTemplate="caption">

        <input type="text" pInputText size="50" placeholder="Filtrar" (input)="tt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">

      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{
            col.header === 'marca' ? rowData[col.field].marca_nombre :
            col.header === 'tipo' ? rowData[col.field].tipo_nombre :
            col.header === 'estado' ? rowData[col.field] === 1 ? 'A' : 'I' :
            rowData[col.field]
            }}
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div style="text-align:left">
              <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columnas seleccionadas"
                [style]="{minWidth: '200px'}" defaultLabel="Seleccionar columnas"></p-multiSelect>
            </div>
      </ng-template>
    </p-table>

  </div>
  <div class="dialog-actions">
    <button class="button js-dialog-close">Cerrar</button>

  </div>
</div>

<div class="dialog" data-role="dialog" id="materiales_dialog" data-width="1000">
  <div class="dialog-title">Materiales</div>
  <div class="dialog-content">
    <div class="row">
      <div class="cell">
        <input type="text" placeholder="buscar">
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <table class="table compact striped row-hover">
          <thead>
            <th>codigo</th>
            <th>nombre</th>
            <th>precio</th>
            <th>cantidad</th>

          </thead>
          <tbody>
            <tr *ngFor="let material of materiales_lista" (click)="agregarMaterial(material)" class="pointer">
              <td>{{material.codigo}}</td>
              <td>{{material.nombre}}</td>
              <td>{{material.precio | currency}}</td>
              <td>{{material.cantidad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="dialog-actions">
    <button class="button js-dialog-close">Cerrar</button>

  </div>
</div>
